objectFiles/*.o
objectFiles/*.mod
objectFiles_*
documentation/html/*
documentation/latex/*
tools/metASCIILoader/*.o
tools/metASCIILoader/*.mod
tools/initFileConverter/*.o
tools/initFileConverter/*.mod
tools/regression-testing/output/*
tools/modifyRestartFile/temp_dir
bin/CLASSIC*
benchmark/*
oldcode
*.nc
outputFiles/*
src/backups/
bib*
cite*
*_pycache_*
make_classic.sh
*.simg
.vscode
.ipynb_checkpoints

